catalog-links nav {
    display: flex;
}

catalog-links a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    width: 100px;
    align-items: center;
    justify-content: center;
    height: 100px;
    border: solid 1px white;
    cursor: pointer;
    overflow: hidden;
}

catalog-links a:hover {
    border-color: silver;
}

catalog-links > * {
    display: flex;
    align-items: center;
}

catalog-links img {
    max-height: 75px;
    max-width: 100px;
}